name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"
      - name: Publish
        run: dotnet publish -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -o ./bin/publish
      - name: Zip
        run: Compress-Archive -Path ./bin/publish/* -DestinationPath k4acut-win-x64.zip
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: k4acut-win-x64.zip
